.fixed-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  .fixed-icon {
    background: #86be3f;
    display: inline-block;
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    position: relative;
    color: white;
    animation: water-wave 3s linear infinite;
    font-size: 1.5rem;
    padding: 1rem 1rem;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 90%;
      border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
      background: transparent;
      animation: water-wave 3s linear infinite;
    }
    @keyframes water-wave {
      0% {
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
      }
      50% {
        border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
      }
      100% {
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
      }
    }
  }
}
