// Hero Section
.hero-section {
  width: 100%;
  height: 698px;
  background: url("../../public/Images/hero/hero.png") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;

  .hero {
    .hero-heading {
      font-family: "Inter", sans-serif;
      font-size: 64px;
      font-weight: 700;
      line-height: 56px;
      letter-spacing: 0em;
      text-align: center;
      color: #ffffff;
    }
    .info {
      font-family: "Poppins", sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 34px;
      letter-spacing: 0em;
      text-align: center;
      color: white;
    }
  }
}

// Chi Siamo Section

.chi-siamo-section {
  width: 100%;
  padding: 80px 0 70px 0;
  background: url("/public/Images/chi-siamo/Group\ 427324279.png") no-repeat
    80px 100px;
  background-size: 82.07px 95.34px;
  .chi-siamo {
    width: 100%;
    .heading {
      padding: 0;
      margin: 0;
      font-family: "Poppins", sans-serif;
      font-size: 36px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
      color: #363636;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      position: relative;
    }

    .heading-underline {
      width: 119.42px;
      color: #86be3f;
      border: 2px solid #86be3f;
      border-radius: 10px;
      margin: 25px 0;
    }

    .chi-siamo-info {
      font-family: "Poppins", sans-serif;
      font-size: 17px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: center;
      color: #666666;
    }
    .chi-siamo-list-box {
      width: 100%;
      gap: 30px;
      .chi-siamo-list-member {
        width: 350px;
        .chi-siamo-member-img {
          width: 183px;
          height: 174px;
          border-radius: 6px;
          position: relative;
          top: 35px;
        }
        .chi-siamo-member-info {
          min-height: 277px;
          height: 100%;
          border-radius: 6px;
          background: #f8f8f8;
          padding: 95px 10px 0px 10px;
          position: relative;
          z-index: -1;
          top: -50px;

          h2 {
            font-family: "Poppins", sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;
            color: #363636;
            padding: 0;
            margin: 8px 0;
          }

          p {
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: center;
            color: #666666;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    .chi-siamo-bottom-info {
      width: 100%;
      .double-quote-img {
        width: 25px;
        height: 22px;
      }
      p {
        font-family: "Poppins", sans-serif;
        font-size: 21px;
        font-style: italic;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: #363636;
        margin: 0;
        padding: 0;
      }
      .cristian {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        color: #86be3f;
        padding: 18px 0;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 25px;
          left: -21px;
          min-width: 14px;
          border: 1px solid #86be3f;
        }
        &::after {
          content: "";
          position: absolute;
          top: 25px;
          right: -22px;
          min-width: 14px;
          border: 1px solid #86be3f;
        }
      }
    }
  }
}

// Sire Section

.sire-section {
  border-radius: 5px;
  background: url("/public/Images/sire/green-dots.png") no-repeat 4.6% 0px,
    url("/public/Images/sire/green-dots.png") no-repeat 40.9% 450px,
    url("/public/Images/sire/circle.png") no-repeat 15% 50px,
    url("/public/Images/sire/light-green-dots.png") no-repeat 77% 38px,
    url("/public/Images/sire/circle-dots.png") no-repeat 84.5% 118px;
  background-size: 82.07px 95.34px, 82.07px 95.34px, 400px 400px,
    82.07px 95.34px, 175px 168px;
  .left-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .satelite-img {
      width: 85%;
      height: 410px;
      border-radius: 5px;
      position: absolute;
      left: -18%;
      top: 3.3%;
      overflow: hidden;
    }
    .solar-img {
      width: 78%;
      height: 255px;
      border-radius: 5px;
      position: absolute;
      top: 50%;
      left: 19%;
      overflow: hidden;
    }
  }
  .right-div {
    height: 550px;
    position: relative;
    z-index: 1;
    h3 {
      font-family: "Poppins", sans-serif;
      font-size: 30px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0em;
      color: #86be3f;
    }
    .heading {
      font-family: "Poppins", sans-serif;
      font-size: 34px;
      font-weight: 600;
      line-height: 45px;
      letter-spacing: 0em;
      text-align: left;
      color: #363636;
    }
    .heading-underline {
      width: 119.42px;
      color: #86be3f;
      border: 2px solid #86be3f;
      border-radius: 10px;
      margin: 10px 0 15px 0;
    }
    .info {
      font-family: "Poppins", sans-serif;
      font-size: 17px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;
      color: #666666;
    }
  }
}

// Connesso Section

.connesso-section {
  padding: 90px 0 45px 0;
  margin: 65px 0 0 0;
  width: 100%;
  background: url("/public/Images/connesso/background.png") no-repeat center
    center;
  background-size: cover;

  .connesso {
    h2 {
      font-family: "Poppins", sans-serif;
      font-size: 36px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;
      color: #363636;
    }
    .heading-underline {
      width: 119.42px;
      color: #86be3f;
      border: 2px solid #86be3f;
      border-radius: 10px;
      margin: 22px 0;
    }
    .connesso-list {
      padding: 48px 0 0 0;
      .item {
        padding: 0 0 26px 0;
        .icon-radius-div {
          min-width: 61px;
          min-height: 61px;
          border: 3px solid #86be3f;
          border-radius: 50%;
          img {
            width: 35px;
            height: 24.07px;
          }
        }
        .info-div {
          padding: 0 30px 0 13px;
          h2 {
            font-family: "Poppins", sans-serif;
            font-size: 20px;
            font-weight: 600;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: #1e1e1e;
          }
          p {
            font-family: "Poppins", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
            color: #363636;
          }
        }
      }
    }
  }
}

// Perche Section

.perche-section {
  width: 100%;
  padding: 80px 0 30px 0;
  .perche {
    width: 100%;
    .heading {
      padding: 0;
      margin: 0;
      font-family: Poppins;
      font-size: 36px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
      color: #363636;
      width: 100%;
      text-align: center;
    }

    .heading-underline {
      width: 119.42px;
      color: #86be3f;
      border: 2px solid #86be3f;
      border-radius: 10px;
      margin: 25px 0;
    }
    .perche-list-box {
      width: 100%;
      gap: 35px;
      padding: 25px 0;
      .perche-list-member {
        width: 350px;
        padding: 35px 0 0 0;
        background: #ffffff;
        min-height: 372.51px;
        border-radius: 10px;
        box-shadow: 0px 0px 14px 0px #0000001a;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.05);
        }
        .perche-member-img {
          width: 67.11px;
          height: 70.19px;
          border: 2px solid #86be3f;
          display: inline-block;
          border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
          position: relative;
          color: rgb(0 10 45);
          animation: water-wave 3s linear infinite;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            height: 90%;
            border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
            background: transparent;
            animation: water-wave 3s linear infinite;
          }
          @keyframes water-wave {
            0% {
              border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
            }
            50% {
              border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
            }
            100% {
              border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
            }
          }
        }
        .perche-member-info {
          text-align: center;
          padding: 0 15px;

          h2 {
            margin: 0px;
            font-family: "Poppins", sans-serif;
            font-size: 24px;
            font-weight: 600;
            line-height: 50px;
            letter-spacing: 0em;
            text-align: center;
            color: #363636;
            padding: 20px 0 0 0;
          }
          p {
            width: 100%;
            margin: 0px;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: center;
            color: #363636;
          }
        }
      }
    }
  }
}

// Benefit Section

.benefit-section {
  width: 100%;
  padding: 30.5px 0px;
  background: #f9f9f9;

  .benefit-list-box {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 22.6px;
    .benefit-list-member {
      min-width: 23.3%;
      border-radius: 6px;
      background: #ffffff;
      box-shadow: 0px 0px 4px 0px #0000001f;
      min-height: 147.9px;
      h2 {
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #363636;
        padding: 0;
        margin: 0;
      }
      p {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #666666;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        padding: 0 5px;
        padding: 0 10px;
      }
    }
  }
}

// Scegli Section

.scegli-section {
  padding: 70px 0 0 0;
  width: 100%;

  .scegli {
    h2 {
      font-family: "Poppins", sans-serif;
      font-size: 36px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;
      color: #363636;
    }
    .heading-underline {
      width: 119.42px;
      color: #86be3f;
      border: 2px solid #86be3f;
      border-radius: 10px;
      margin: 15px 0;
    }
    .scegli-list {
      padding: 35px 0;
      width: 100%;
      .list-card {
        min-height: 955px;
        width: 48.7%;
        background: #ffffff;
        box-shadow: 0px 0px 14px 0px #0000001a;
        margin-bottom: 40px;
        .card-img {
          width: 100%;
          height: 336px;
        }
        .card-info {
          padding: 23px 20px 0 23px;
          .top-heading {
            font-family: "Poppins", sans-serif;
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 0em;
            text-align: left;
            color: #86be3f;
            margin: 0;
          }
          .unorder-list-box {
            padding: 15px 0 0px 0;
            min-height: 200px;
            .unorder-list {
              .arrow-img {
                padding: 3px 0 0 0;
                img {
                  width: 9px;
                  height: 12px;
                }
              }
              p {
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                color: #666666;
              }
            }
          }
          .middle-heading {
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 13px;
            letter-spacing: 0em;
            text-align: left;
            color: #363636;
            padding: 8px 0 10px 0;
          }
          .consigliato-group {
            padding: 5px 0 0 0;
            .consigliato-member {
              .img-circle {
                width: 62px;
                height: 62px;
                border-radius: 50%;
                background-color: #f5f5f5;
                .battery-img {
                  width: 22.01px;
                  height: 33.01px;
                }
                .family-img {
                  width: 34.31px;
                  height: 34.53px;
                }
              }
              p {
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 400;
                color: #666666;
              }
            }
          }
          .bottom-heading {
            display: flex;
            justify-content: space-between;
            h2 {
              font-family: "Poppins", sans-serif;
              font-size: 16px;
              font-weight: 600;
              line-height: 28px;
              letter-spacing: 0em;
              text-align: left;
              color: #363636;
              padding: 0;
              margin: 0;
            }
            img {
              width: 13px;
              height: 7.36px;
            }
          }
          .drop-down-list {
            ul {
              padding-left: 20px;
              list-style: none;

              li {
                padding: 2px 0;
                ::before {
                  content: "\2022";
                  color: #86be3f;
                  font-weight: bold;
                  display: inline-block;
                  font-size: 22px;
                  position: relative;
                  top: 2px;
                  width: 1em;
                  margin-left: -20px;
                }
                span {
                  font-family: "Poppins", sans-serif;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 12px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #666666;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Connetitti Section

.connetitti-section {
  padding: 50px 0 57px 0;
  width: 100%;
  background: url("../../public/Images/connettiti/background.png") no-repeat
    center center;
  background-size: cover;
  background-attachment: scroll;
  background-color: rgb(250, 250, 250);

  .connetitti {
    h2 {
      font-family: "Poppins", sans-serif;
      font-size: 36px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;
      color: #363636;
    }
    .heading-underline {
      width: 119.42px;
      color: #86be3f;
      border: 2px solid #86be3f;
      border-radius: 10px;
      margin: 15px 0;
    }
    .connetitti-list {
      display: flex;
      padding: 40px 0 50px 0;
      .list-member {
        background-size: 100% 100%;
        background-repeat: no-repeat;

        .list-card {
          background: #ffffff;
          box-shadow: 0px 0px 15px 0px #0000000f;
          padding: 25px 10px 20px 10px;
          height: 100%;

          .card-img {
            width: 54px;
            height: 46px;
          }
          h2 {
            font-family: "Inter", sans-serif;
            width: 100%;
            font-size: 16px;
            font-weight: 500;
            line-height: 13px;
            letter-spacing: 0em;
            text-align: center;
            color: #363636;
          }
          p {
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: center;
            color: #666666;
          }
        }
      }
      .green {
        background-image: url("../../public/Images/connettiti/boundary-green.png");
        padding: 15px 45px 15px 15px;
        width: 66%;
      }
      .purple {
        background-image: url("../../public/Images/connettiti/boundary-purple.png");
        padding: 15px 45px 15px 15px;
        width: 66%;
      }
      .black {
        background-image: url("../../public/Images/connettiti/boundary-black.png");
        padding: 15px 45px 15px 15px;
        width: 66%;
      }
      .yellow {
        background-image: url("../../public/Images/connettiti/boundary-yellow.png");
        padding: 15px 15px 15px 15px;
        width: 64%;
      }
    }
    .swipe-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0 50px 0;
      width: 100%;

      .swiper {
        padding: 0 0 30px 0;
        .list-member {
          background-size: 100% 100%;
          background-repeat: no-repeat;
          .list-card {
            background: #ffffff;
            box-shadow: 0px 0px 15px 0px #0000000f;
            padding: 25px 10px 20px 10px;
            min-height: 230px;
            .card-img {
              width: 54px;
              height: 46px;
            }
            h2 {
              font-family: "Inter", sans-serif;
              width: 100%;
              font-size: 16px;
              font-weight: 500;
              line-height: 13px;
              letter-spacing: 0em;
              text-align: center;
              color: #363636;
            }
            p {
              font-family: "Inter", sans-serif;
              font-size: 14px;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: 0em;
              text-align: center;
              color: #666666;
            }
          }
        }
        .green {
          background-image: url("../../public/Images/connettiti/boundary-green.png");
          padding: 15px 51px 15px 15px;
        }
        .purple {
          background-image: url("../../public/Images/connettiti/boundary-purple.png");
          padding: 15px 51px 15px 15px;
        }
        .black {
          background-image: url("../../public/Images/connettiti/boundary-black.png");
          padding: 15px 51px 15px 15px;
        }
        .yellow {
          background-image: url("../../public/Images/connettiti/boundary-yellow.png");
          padding: 15px 15px 15px 15px;
        }
      }
    }
    .button-div {
      .collegati-button {
        width: 171px;
        height: 45px;
        border-radius: 6px;
        background: #86be3f;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        border: none;
      }
    }
  }
}

// Ask Question Section

.ask-question-section {
  padding: 90px 0 40px 0;
  width: 100%;
  background: url("/public/Images/ask-question/Group\ 427324297.png") no-repeat
    88% 8%;
  background-size: 123.96px 103.12px;

  .ask-question {
    .heading {
      font-family: "Poppins", sans-serif;
      font-size: 36px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;
      color: #363636;
    }
    .heading-underline {
      width: 119.42px;
      color: #86be3f;
      border: 2px solid #86be3f;
      border-radius: 10px;
      margin: 20px 0;
    }
    .ask-question-list {
      width: 100%;
      padding: 23px 0;
      .list-member {
        border-radius: 6px;
        background-color: #ffffff;
        box-shadow: 0px 1px 10px 0px #00000014;
        padding: 15px 15px;
        .question-div {
          .icon-div {
            .plus-icon {
              color: #363636;
            }
          }
          .question {
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #363636;
            padding: 0;
            margin: 0;
          }
        }
        .answer-div {
          .answer {
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            color: #54595f;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
    .button-div {
      width: 100%;
      text-align: center;
      padding: 40px 0 0 0;
      button {
        width: 171px;
        height: 45px;
        border-radius: 6px;
        background: #86be3f;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0em;
        color: #ffffff;
        border: none;
      }
    }
  }
}

// Contattaci Section

.contact-section {
  padding: 40px 0 50px 0;
  width: 100%;

  .contact {
    .heading {
      font-family: "Poppins", sans-serif;
      font-size: 36px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;
      color: #363636;
    }
    .heading-underline {
      width: 119.42px;
      color: #86be3f;
      border: 2px solid #86be3f;
      border-radius: 10px;
      margin: 20px 0;
    }
    .contact-list {
      padding: 30px 0 0 0;
      .info-div {
        width: 33.33%;
        border-radius: 9px;
        border: 1px solid #dedede;
        padding: 15px 0;
        margin-bottom: 30px;

        .item {
          padding: 15px 0;
          a {
            text-decoration: none;
            .img-div {
              .contact-img {
                width: 31px;
                height: 31px;
              }
            }
            .contact-info {
              font-family: "Poppins", sans-serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 21px;
              letter-spacing: 0em;
              text-align: left;
              color: #666666;
            }
          }
        }
        .bottom-info {
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: left;
          color: #363636;
          padding: 5px 0 10px 0;
          margin: 0;
        }
      }
      .message-div {
        width: 63.7%;
        border-radius: 9px;
        border: 1px solid #dedede;
        padding: 30px 0 18px 0;
        margin-bottom: 30px;

        .input-field {
          border-radius: 5px;
          border: 1px solid #dedede;
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          font-weight: 400;
          text-align: left;
          color: #999999;
          padding: 13px 15px;
          resize: none;
        }

        .button-div {
          width: 141px;
          height: 45px;
          border-radius: 6px;
          background: #86be3f;
          font-family: "Inter", sans-serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 14px;
          letter-spacing: 0em;
          text-align: center;
          border: none;
        }
      }
    }
  }
}

// Subscribe Section

.subscribe-section {
  background: url("/public/Images/subscribe/background.png") no-repeat center
    center;
  background-size: cover;
  background-attachment: scroll;
  padding: 40px 0 10px 0;

  .left-div {
    h2 {
      font-family: "Poppins", sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: #ffffff;
    }

    p {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: #ffffff;
    }
  }
  .right-div {
    display: flex;
    justify-content: flex-end;
    .email-div {
      width: 76%;
      height: 50px;
      border-radius: 25px;
      background: #ffffff;

      p {
        font-family: "Poppins", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        color: #979797;
        padding: 0 0 0 25px;
        margin: 0;
      }
      .fa-telegram {
        font-size: 40px;
        color: #86be3f;
        padding-right: 5px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  // Chi Siamo
  .chi-siamo-section {
    .chi-siamo {
      .chi-siamo-list-box {
        flex-direction: column;
        align-items: center;
        .chi-siamo-list-member {
          .chi-siamo-member-info {
            width: 350px;
          }
        }
      }
    }
  }

  // Sire Section

  .sire-section {
    background-position: 5.2% 0px, 90% 300px, 15% 50px, 75% 40px, 83% 90px;
    background-size: 52.07px 65.34px, 52.07px 65.34px, 200px 200px,
      52.07px 65.34px, 145px 138px;
    .left-div {
      display: none;
    }
    .right-div {
      height: 400px;
    }
  }

  // Connesso section

  .connesso-section {
    .connesso {
      .connesso-list {
        flex-direction: column;
      }
    }
  }

  // Perche Section

  .perche-section {
    .perche {
      .perche-list-box {
        flex-direction: column;
        align-items: center;
        .perche-list-member {
          width: 349.06px;
        }
      }
    }
  }

  // Benefit Section

  .benefit-section {
    .benefit-list-box {
      flex-wrap: wrap;
      .benefit-list-member {
        min-width: 46.6%;
        flex-grow: 1;
      }
    }
  }

  //Scegli

  .scegli-section {
    .scegli {
      .scegli-list {
        flex-direction: column;
        align-items: center;
        .list-card {
          width: 97%;
        }
      }
    }
  }

  // Contattaci

  .contact-section {
    .contact {
      .contact-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        .message-div {
          width: 100%;
        }
        .info-div {
          width: 100%;
        }
      }
    }
  }

  // Subscribe section

  .subscribe-section {
    .left-div {
      align-items: center;
      p {
        text-align: center;
      }
    }
    .right-div {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 768px) {
  // Hero Section
  .hero-section {
    .hero {
      .hero-heading {
        font-size: 54px;
      }
    }
  }
  // Chi-Siamo Section
  .chi-siamo-section {
    background-size: 90.07px 100.34px;
    background-position: 30px 30px;
  }

  //Contact Section
  .contact-section {
    .contact {
      .contact-list {
        .message-div {
          .first-last-div {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }

  //Connettiti Section

  .connetitti-section {
    .connetitti {
      .swipe-list {
        .swiper {
          .green {
            padding-right: 16%;
          }
          .purple {
            padding-right: 16%;
          }
          .black {
            padding-right: 16%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  // Hero Section
  .hero-section {
    .hero {
      .hero-heading {
        font-size: 29px;
      }
      .info {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  //Chi-siamo Section
  .chi-siamo-section {
    background-size: 60.07px 60.34px;
    background-position: 20px 60px;
    .chi-siamo {
      .chi-siamo-info {
        font-size: 16px;
        line-height: 20px;
      }
      .heading {
        font-size: 26px;
      }
      .chi-siamo-bottom-info {
        .double-quote-img {
          width: 20px;
          height: 15px;
        }
        p {
          font-size: 15px;
          line-height: 15px;
        }
      }
    }
  }

  //Sire Section

  .sire-section {
    background-position: 5.2% 0px, 90% 300px, 15% 50px, 90% 70px, 90% 110px;
    background-size: 32.07px 45.34px, 42.07px 55.34px, 150px 150px,
      42.07px 55.34px, 125px 118px;
    .right-div {
      h3 {
        font-size: 22px;
      }
      .heading {
        font-size: 26px;
        line-height: 35px;
      }
    }
  }

  // Connesso Section
  .connesso-section {
    .connesso {
      h1 {
        font-size: 26px;
      }
      .connesso-list {
        .item {
          .info-div {
            p {
              font-size: 15px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }

  //Perche Section
  .perche-section {
    .perche {
      .heading {
        font-size: 26px;
      }
    }
  }

  // Scegli section

  .scegli-section {
    .scegli {
      .scegli-list {
        .list-card {
          .card-img {
            height: 236px;
          }
        }
      }
      .heading {
        font-size: 26px;
      }
    }
  }

  // Ask Question

  .ask-question-section {
    .ask-question {
      .heading {
        font-size: 26px;
      }
    }
  }

  // Contattaci

  .contact-section {
    .contact {
      .heading {
        font-size: 26px;
      }
    }
  }

  // Subscribe Section

  .subscribe-section {
    .left-div {
      p {
        font-size: 14px;
      }
    }
    .right-div {
      .email-div {
        p {
          font-size: 15px;
        }
      }
    }
  }
}
